@page "/counter"
@rendermode InteractiveServer
@inject NavigationManager Navigation
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" @onclick="Navigate"> Go Back</button>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void Navigate()
    {
        Navigation.NavigateTo("/");
    }
}
